rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /config/abastecimento/{allPaths=**} {
      // Permite que qualquer usuário leia ou escreva o guia (Modo sem Login)
      allow read, write: if true;
    }
    
    // Regra padrão de negação para outros caminhos
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
