rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /config/abastecimento/{allPaths=**} {
      // Permite que qualquer usuário autenticado ou não leia o guia
      allow read: if true;
      // Permite escrita para qualquer usuário autenticado (conforme solicitado pelo usuário)
      allow write: if request.auth != null && 
                    request.auth.token.email_verified == true;
    }
    
    // Regra padrão de negação para outros caminhos
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
